
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.frame-5 {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative; /* Adjusted from absolute */
  padding: 20px; /* Added padding for better spacing */
  max-width: 100%; /* Ensure it does not exceed available width */
 
}

.fxemoji-bolt {
  height: 34px;
  left: 100px;
  position: absolute;
  top: 641px;
  width: 30px;
}

.section-heading {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%; /* Ensure it takes full width of its container */
  text-align: left; /* Align text to the left */
}

.section-title {
  color: #5c068c;
  font-family: "Gotham", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 64px;
  width: 100%; /* Ensure it takes full width of its container */
  text-align: left;
}

.section-title-2 {
  
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 64px;
  width: 100%; /* Ensure it takes full width of its container */
  text-align: left;
}

.description {

  font-family: "Gotham", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left; /* Align text to the left */
}

.text-wrapper-4 {
  font-weight: 700;
  margin-left: -70px;
  color: black;
}

.text-wrapper-5 {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
margin-left: -70px;
color: black;
}

/* Button Styles */
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 50px; /* Adjust as needed */
}

.lmao {
  background: linear-gradient(180deg, #60088C 0%, #A11E90 100%);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  width: 200px;
  line-height: 50px;
  transition: background 0.3s ease;
  margin-left: 100px;
}

.lmao:hover {
  background: linear-gradient(180deg, #A11E90 0%, #60088C 100%);
}

/* General styles for both sections */
.section-1,
.section-2 {
  display: block; /* Ensure both sections are visible by default */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .section-1 {
    display: none; /* Hide section-1 on smaller screens */
  }
  
  .section-2 {
    width: 100%; /* Ensure section-2 takes full width */
  }
}



@font-face {
  font-family: 'Gotham';
  src: url('../../../Gotham-Font/Gotham-Light.otf') format('otf'),
      
       url('../../../Gotham-Font/GothamLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url('../../../Gotham-Font/Gotham-Light.otf') format('otf'),
      
       url('../../../Gotham-Font/GothamLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
