.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Darkened background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it overlays other content */
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 375px; /* Size of the modal */
    height: 614.31px;
    position: relative;
  }
  
  .modal-close-button {
    position: relative;
    top: 30px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  