
@font-face {
    font-family: 'Gotham';
    src: url('../../Gotham-Font/Gotham-Light.otf') format('otf'),
        
         url('../../Gotham-Font/GothamLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
 
  @font-face {
    font-family: 'Gotham';
    src: url('../../Gotham-Font/Gotham-Light.otf') format('otf'),
        
         url('../../Gotham-Font/GothamLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    background-color: rgb(127, 18, 142);
}

 .fxemoji-bolt {
    height: 44px;
    left: 110px;
    position: absolute;
    top: 630px;
    width: 40px;
  }
  .img-lady {
       
    border-radius: 189px;
    margin: 30px;
}

.section-1 {
   

    h1 {
        color: white;
        margin-left: 50px;
    }

    p {
        color: white;
        margin-left: 50px;
        font-size: 60px;
        margin-top: -50px;
    }
}
.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  

.section-2 {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 19px;
    margin: 20px;

    span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        font-family: "Gotham", sans-serif;
        

        p {
            color: rgb(127, 18, 142);
            font-family: Arial, Helvetica, sans-serif;
        }

        img {
            margin-top: -10px;
        }
    }

    section {
        h1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 30px;
            margin-top: 60px;
        }

        .otp-frame-3 {
            display: flex; /* Enables flexbox layout */
            align-items: center; /* Aligns items vertically in the center */
            gap: 10px; /* Adds space between the circle and box */
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0px;
            padding-left: 70px;
            padding-right: 40px;

            .bvn,
            .nin {
                background-color: rgba(239, 240, 244, 0.473);
                background-size: contain;
                color: rgb(127, 18, 142);
                padding: 10px;
                width: 140px;
                border-radius: 25px;
                text-align: center;
                border-color: transparent;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
            }

            

            .bvn.active,
            .nin.active {
                background-color: rgb(127, 18, 142);
                color: white;
            }

            .bvn:not(.active),
            .nin:not(.active) {
                background-color: rgba(239, 240, 244, 0.473);
                color: rgb(127, 18, 142);
            }
        }

     
        .continue {
            background-color: rgb(127, 18, 142);
            color: white;
            padding: 10px;
            width: 300px;
            border-radius: 25px;
            text-align: center;
            margin-top: 30px;
            margin-left: 70px;
            border-color: transparent;
        }

      
    }
}
.motto{
    margin: 100px;
}

.otp-frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
   }
   .otp-frame .text-wrapper {
    color: #1e2e3f;
    font-family: "Gotham-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
   }
   .otp-frame .div {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 50px;
    position: relative;
    width: 100%;
   }
   .otp-frame .div-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 13px;
    position: relative;
    width: 100%;
   }
   .otp-frame .you-are-about-to-top {
    align-self: stretch;
    color: transparent;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
   }
   .otp-frame .span {
    color: #4f4f4f;
    font-weight: 500;
   }

   .otp-frame .you-are-about-to-top {
    align-self: stretch;
    color: transparent;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
   }
   .otp-frame .span {
    color: #4f4f4f;
    font-weight: 500;
   }
   .otp-frame .text-wrapper-2 {
    color: #5c068c;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    top: -17px;
        left: 250px;
   }
   .otp-frame .div-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
   }

   .otp-frame .div-wrapper {
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(96, 8, 140), rgb(161.37, 29.88, 143.91)) 1;
    border-radius: 5px;
    height: 87px;
    overflow: hidden;
    position: relative;
    width: 75px;
   }
   .otp-frame .text-wrapper-3 {
    color: #000000;
    font-family: "Gotham-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
   }
   otp-frame .text-wrapper-4 {
    color: var(--whitesgrey);
    font-family: "Gotham-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
   }
   .otp-frame .text-wrapper-5 {
    color: var(--whitesgrey);
    font-family: "Gotham-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
   }
   .otp-frame .code-expires-in {
    color: transparent;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
   }
   .otp-frame .text-wrapper-6 {
    color: #4f4f4f;
   }
   .otp-frame .text-wrapper-7 {
    color: #ff000099;
   }
   .otp-frame .text-wrapper-8 {
    color: purple;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
   }
   .otp-frame .div-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 37px;
    justify-content: center;
    position: relative;
   }
   .otp-frame .input-wrapper {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 23px;
    position: relative;
   }
   .otp-frame .date-input {
    height: 74px;
    position: relative;
    width: 372px;
   }
   .otp-frame .overlap-group {
    border: 1px solid;
    border-color: #c4c4c4;
    border-radius: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 372px;
   }
   .otp-frame .text-wrapper-9 {
    color: var(--black-70);
    font-family: "Gotham-Book", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
   }
   .otp-frame .u-calendar-alt {
    height: 20px !important;
    left: 16px !important;
    position: absolute !important;
    top: 14px !important;
    width: 20px !important;
   }
   .otp-frame .text-wrapper-10 {
    color: #1e2e3f;
    font-family: "Gotham-Book", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    
   }
   .otp-frame .div-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
   }
   .otp-frame .icons-wrapper {
    align-items: center;
    border: 1.5px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(96, 8, 140) 23.44%, rgb(162, 49, 147)) 1;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    height: 70px;
    justify-content: center;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    width: 70px;
   }
   .otp-frame .icons-instance {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
   }
   .otp-frame .buttons-instance {
    border-radius: 50px !important;
    height: 70px !important;
    opacity: 0.15 !important;
    width: 320px !important;
   }
   .otp-frame .design-component-instance-node {
    font-family: "Montserrat-Medium", Helvetica !important;
   }
   .otp-frame .group {
    align-self: stretch;
    height: 80px;
    margin-right: -2px;
    position: relative;
    width: 100%;
   }

   .label {
    height: 15px;
    width: 363px;
    align-items: center;
    margin-left: -50px;
   }
   .label .don-t-have-this-try {
    color: transparent;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 15px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;

    top: 0;
    width: 363px;
   }
   .label .text-wrapper {
    color: #334335;
    font-weight: lighter;
    font-size: small;
   }
   .label .span {
    color: #5c068c;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    text-decoration: underline;
   }
   .label {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    margin-top: 20px; /* Optional: Add margin for spacing */
  }
  
  .don-t-have-this-try {
    display: flex;
    align-items: center; /* Aligns text vertically */
    margin: 0; /* Remove default margin from paragraph */
  }
  
  .text-wrapper {
    margin-right: -105px; /* Reduced gap between "Don’t have this?" and "Try Facial Recognition" */
  }
  
  .span {
    font-weight: bold; /* Optional: Adjust styling as needed */
  }
  
  .otp-frame .otp-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.otp-frame .otp-container input {
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(96, 8, 140), rgb(161, 29, 143)) 1;
    border-radius: 5px;
    height: 87px;
    width: 75px;
    text-align: center;
    font-size: 2rem;
    background: transparent;
    color: rgb(96, 8, 140);
    outline: none;
    margin-left: 15px;
}
.input {
    height: 74px;
    position: relative;
    width: 372px;
   }
   .input .overlap-group {
    border: 1px solid;
    border-color: #c4c4c4;
    border-radius: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 372px;
   }
   .input .text-wrapper {
    color: var(--black-70);
    font-family: "Gotham-Book", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
   }
   .input .u-calendar-alt {
    height: 20px !important;
    left: 16px !important;
    position: absolute !important;
    top: 14px !important;
    width: 20px !important;
   }
   .input .div {
    color: #1e2e3f;
    font-family: "Gotham-Book", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
   }
   
   .label-confirm {
    height: 26px;
    width: 281px;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
   }
   .label-confirm .login-successful {
    color: #484848;
    font-family: "Khula-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 26px;
    left: 10;
    letter-spacing: 0.18px;
    line-height: normal;
   
    
    top: 0;
   }
   