body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    /* background-color: rgb(127, 18, 142); */
}

.section-1 {
    img {
        background-color: transparent;
        border-radius: 189px;
        margin: 30px
    }

    h1 {
        color: white;
        margin-left: 50px;
    }

    p {
        color: white;
        margin-left: 50px;
        font-size: 60px;
        margin-top: -50px;
    }

}

.section-2 {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 19px;
    margin: 20px;

    span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        p {
            color: rgb(127, 18, 142);
            font-family: Arial, Helvetica, sans-serif;
        }

        img {
            margin-top: -10px;
        }
    }
    
    section {

        h1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 30px;
            margin-top: 60px;
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0px;
            padding-left: 70px;
            padding-right: 40px;

            .bvn {
                background-color: rgb(127, 18, 142);
                background-size: contain;
                color: white;
                padding: 10px;
                width: 140px;
                border-radius: 25px;
                text-align: center;
                border-color: transparent;
            }

            .nin {
                background-color: rgba(239, 240, 244, 0.473);
                background-size: contain;
                color: rgb(127, 18, 142);
                padding: 10px;
                width: 140px;
                border-radius: 25px;
                text-align: center;
                border-color: transparent;
            }
        }

        input {
            width: 370px;
            margin-left: 30px;
            padding: 10px;
            border-radius: 6px;
            border-color: rgb(127, 18, 142);
        }

        .bvn-text {
            margin-left: 30px;
            color: rgb(127, 18, 142);
        }

        .continue {
            background-color: rgb(127, 18, 142);
            color: white;
            padding: 10px;
            width: 300px;
            border-radius: 25px;
            text-align: center;
            margin-top: 30px;
            margin-left: 70px;
            border-color: transparent;
        }

        .already {
            text-align: center;
        }

        .login {
            color: rgb(127, 18, 142);
            font-weight: 200px;
        }
    }
}