.frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
   }
   .frame .text-wrapper {
    color: #1e2e3f;
    font-family: "Gotham-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin-left: -110px;
   }
   .frame .group {
    height: 200.23px;
    position: relative;
    width: 250.03px;
    margin-left: 60px;
   }
   .frame .buttons-instance {
    border-radius: 50px !important;
    height: 70px !important;
    width: 320px !important;
   }
   .frame .design-component-instance-node {
    font-family: "Montserrat-Medium", Helvetica !important;
   }