body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    background-color: rgb(127, 18, 142);
}

.fxemoji-bolt {
    height: 44px;
    left: 147px;
    position: absolute;
    top: 620px;
    width: 40px;
  }
  .img-lady {
       
    border-radius: 189px;
    margin: 30px;
}
.section-1 {
   


    h1 {
        color: white;
        margin-left: 50px;
    }

    p {
        color: white;
        margin-left: 50px;
        font-size: 60px;
        margin-top: -50px;
    }
}
.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  

.section-2 {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 19px;
    margin: 20px;

    span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        p {
            color: rgb(127, 18, 142);
            font-family: Arial, Helvetica, sans-serif;
        }

        img {
            margin-top: -10px;
        }
    }

    section {
        h1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 30px;
            margin-top: 60px;
        }

        .frame-3 {
            display: flex; /* Enables flexbox layout */
            align-items: center; /* Aligns items vertically in the center */
            gap: 10px; /* Adds space between the circle and box */
        }

        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 0px;
            padding-left: 70px;
            padding-right: 40px;

            .bvn,
            .large {
                background-color: rgba(239, 240, 244, 0.473);
                background-size: contain;
                color: rgb(127, 18, 142);
                padding: 10px;
                width: 140px;
                border-radius: 25px;
                text-align: center;
                border-color: transparent;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
            }

            

            .bvn.active,
            .large.active {
                background-color: rgb(127, 18, 142);
                color: white;
            }

            .bvn:not(.active),
            .large:not(.active) {
                background-color: rgba(239, 240, 244, 0.473);
                color: rgb(127, 18, 142);
            }
        }

        .BVN_NIN {
            width: 370px;
            margin-left: 30px;
            padding: 10px;
            border-radius: 6px;
            border-color: rgb(127, 18, 142);
        }

        .bvn-text {
            margin-left: 30px;
            color: rgb(127, 18, 142);
        }

        .continue {
            background-color: rgb(127, 18, 142);
            color: white;
            padding: 10px;
            width: 300px;
            border-radius: 25px;
            text-align: center;
            margin-top: 30px;
            margin-left: 70px;
            border-color: transparent;
        }

        .already {
            text-align: center;
            left: 250px;
        }

        .login {
            color: rgb(127, 18, 142);
            font-weight: 200px;
            text-align: center;
        }
    }
}

